<!doctype html>
{% load static %}
<html lang="en">

<head>
  {% include 'parciais/_head.html' %}
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0">
              <div class="card-body">
                {% if messages %}
                  {% for message in messages %}
                    <div class="alert {{message.tags}}" role="alert">
                        {{message}} 
                    </div>
                  {% endfor %}
                {% endif %}
                <a href="/" class="text-nowrap logo-img text-center d-block py-3 w-100">
                  <img src="{% static '/images/logos/logoleiamais.png' %}" width="120" alt="">
                </a>
                <p class="text-center">Leia Mais - Biblioteca</p>
                <form action="{% url 'auth_login' %}" method="POST">  {% csrf_token %} 
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                  </div>
                  <div class="mb-4">
                    <label for="exampleInputPassword1" class="form-label">Senha</label>
                    <input type="password" name="password" class="form-control" id="exampleInputPassword1" required>
                  </div>
               
                  <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Login</button>
                  {% comment %} <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-warning w-100 py-8 fs-4 mb-4 rounded-2">Login com Google</a> {% endcomment %}
                  {% comment %} <br>
                  <a href="{% url 'logout' %}">Logout</a> {% endcomment %}
                  <div class="d-flex align-items-center justify-content-center">
                    <p class="fs-4 mb-0 fw-bold">Não tem conta?</p>
                    <a class="text-primary fw-bold ms-2" href="{% url 'register' %}">Criar uma contar</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static '/libs/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static '/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>