a {
    text-decoration: none;
}

.badge-book {
    width: 120px;
    position: absolute;
    top: 20px;
    left: 60%;
    --bs-card-border-width: 0px;
    --bs-card-border-color: #ebf1f6;
    --bs-card-border-radius: 7px;
    --bs-card-box-shadow: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
    --bs-card-inner-border-radius: 7px;
}

.card-img-book {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}

.content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.book-detail {
    display: flex;
    gap: 30px;
    flex: 3;
}
.history-rental {
    flex: 0.5;
}
.letter-button{
    border: none;
    background: none;
    color: rgb(133, 133, 133);
}
.remove_style {
    border: none;
    border-color: transparent;
}

.book-cellphone {
    display: none;
}
.book-pc {
    display: block;
}
.btn-link {
    border: none;
    color: rgb(70, 156, 255);
    background-color: transparent;
}

@media (max-width: 800px) {
    .content {
        flex-direction: column;
    }
    .book-detail {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
    .book-detail img {
        width: 200px;
    }
    .book-cellphone {
        display: block;
    }
    .book-pc {
        display: none;
    }

}


